// Import Helpers
@use "../helpers/variables" as *;

// Import Font 'Poppins' & 'Kalam'
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Kalam:wght@300;400;700&display=swap");

// Import Box Icons
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

// Reset Styling
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: $main_font, sans-serif;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	background: $bg_color;
	color: $text_color;
}

a {
	text-decoration: none;
	color: $text_color;
}

img {
	width: 100%;
}

button,
input,
textarea {
	border: none;
	outline: none;
}

// Text Selection Override
::selection {
	background: rgba($brand_color, 0.69);
	color: #000;
}

// Sweet Alert
.swal2-popup {
	font-size: 15px !important;
}
