// Colors Variables
$bg_color: #2c2c2c;
$bg_secondary_color: #313131;
$text_color: #ededed;
$brand_color: #ffb633;
$shadow_color: rgba(0 171 240 / 66%);

// Fonts Variables
$font_main: "Poppins";
$font_handwriting: "Kalam";

// Layouts Breakpoints max-width
$layout_xl: 1399px;
$layout_lg: 1199px;
$layout_md: 991px;
$layout_sm: 767px;
$layout_xs: 575px;

// Container max-width
$container_xxl: 1390px;
$container_xl: 1140px;
$container_lg: 960px;
$container_md: 720px;
$container_sm: 540px;
$container_xs: 100%;
